<form action="/postFormHelloworld" method="POST">
  <!-- Input field for email -->
  <input type="text" name="_csrf" value="<%- _csrf %>" />
  <input type="email" name="emailAddress" required value="hello@world.com"/>

  <!-- Submit button -->
  <button type="submit">Subscribe</button>
</form>
